{% extends "::base.html.twig" %}
{% block stylesheets %}
		{{ parent() }}
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}strathPrimomBundle:Account:main{% endblock %}
{% block navigation %}
<ul class="navigation">
            <li><a href="{{ path('strathPrimomBundle_homepage') }}"><img src='{{ asset('images/logotab.gif')}}'></img></a></li>
			<li><a href="{{ path('strathPrimomBundle_homepage') }}">Home</a></li>
            <li><a href="{{ path('strathPrimomBundle_login') }}">Login</a></li>
            <li><a href="{{ path('strathPrimomBundle_logout') }}">Logout</a></li>
            <li><a href="{{ path('strathPrimomBundle_account_main') }}">My Account</a></li>
        </ul>
		{% endblock%}
{% block body %}


{% block strathTag %}<h3 class='accTitle'>Available Items</h3>{% endblock %}
<div class='uname'>{{name}}</div>
<div class='spc'></div>
<div class="accNav"><a href="{{ path('strathPrimomBundle_account_main') }}"><span id='nlink'>Back</span></a></div>

{{available}}
{% endblock %}
