{% extends "::base.html.twig" %}
{% block stylesheets %}
		{{ parent() }}
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}strathPrimomBundle:Account:main{% endblock %}
{% block navigation %}
<ul class="navigation">
			{{ parent() }}

        </ul>
		{% endblock%}
{% block body %}

{% block strathTag %}<h3 class='accTitle'>Items on Loan</h3>{% endblock %}
<div class='uname'>{{name}}</div>
<div class='spc'></div>
<div class="accNav"><a href="{{ path('strathPrimomBundle_account_main') }}"><span id='nlink'>Back</span></a></div>

<div id="content">

{% for item in items %}
	<div id="inner">
<ul>
	<li class='itemTitle'><span>Title:</span> {{item.title}}</li>
	<li class='item'><span>Author: </span> {{item.author}}</li>
	<li class='item'><span>Collection: </span> {{item.location}}</li>
	<li class='item'><span >Due Date: </span> {{item.dueDate}}, {{item.dueTime}}</li>
	<li class='item'><span >Renewable?</span>  {{item.renewable}}</li>
</ul>
	</div>

	{% endfor %}
</div>
	<br/>

{% endblock %}
