{% extends "::base.html.twig" %}
{% block stylesheets %}
		{{ parent() }}
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet" />
	    <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}
{% block title %}strathPrimomBundle:Account:main{% endblock %}
{% block navigation %}
<ul class="navigation">
			{{ parent() }}
			</ul>
		{% endblock%}
{% block body %}

{% block strathTag %}<h3 class='accTitle'>My Account</h3>{% endblock %}

<div class='uname'>{{name}}</div>
<div class='spc'></div>
<div class="accNav"><a href="{{path('strathPrimomBundle_account_items')}}"><span id='nlink'>Items Loaned</span></a></div>
<div class="accNav"><a href="{{path('strathPrimomBundle_account_fines')}}"><span id='nlink'>Fines and Fees</span></a></div>
<div class="accNav"><a href="{{path('strathPrimomBundle_account_available')}}"><span id='nlink'>Items Available</span></a></div>
<div class="accNav"><a href="{{path('strathPrimomBundle_account_requests')}}"><span id='nlink'>Requests</span></a></div>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class='flashMessage'> {{ flashMessage }}</div>
{% endfor %}
{% endblock %}
  {% block javascripts %}
{{ parent() }}
		<script>
		$(document).ready(function(){
		$.mobile.ajaxEnabled = false
			$('.accNav').mouseenter(function(){
				$(this).css('background-color','#bfbebb');
				});
			$('.accNav').mouseleave(function(){
				$(this).css('background-color','#a7a9ac');
				});

			});
		</script>
		{% endblock %}
