{% extends "::base.html.twig" %}
{% block stylesheets %}
		{{ parent() }}
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}strathPrimomBundle:Account:main{% endblock %}
{% block navigation %}
<ul class="navigation">
			{{ parent() }}

        </ul>
		{% endblock%}
{% block body %}

<h2 class='accTitle'>Requests</h2>
<div class='uname'>{{name}}</div>
<div class='spc'></div>
<div class="accNav"><a href="{{ path('strathPrimomBundle_account_main') }}"><span id='nlink'>Back</span></a></div>

<div id="content">

{% for request in requests %}
	<div id="inner">
<ul>
	<li class='itemTitle'>Title:{{request.title}}</li>
	<li class='item'><span class='itemLabel'>Expiry Date: </span> {{request.expDate}}</li>
	<li class='item'><span class='itemLabel'>Pick up location: </span> {{request.pickuplocation}}</li>
</ul>
	</div>

	{% endfor %}
</div>
{% endblock %}
