{% extends "::base.html.twig" %}
        {% block stylesheets %}
		 {{ parent() }}
    <link href="{{ asset('css/search.css') }}" type="text/css" rel="stylesheet" />
			 <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

	{% endblock %}

{% block title %}Search Results{% endblock %}
{% block navigation %}

<ul class="navigation">
		 {{ parent() }}        
        </ul>
		{% endblock%}
{% block body %}
{% block strathTag %}<h3 class='accTitle'>Catalogue Search</h3>{% endblock %}

 <form action="{{ path('strathPrimomBundle_basic') }}" method="get" {{ form_enctype(form) }} class="homeSearch">
        {{ form_errors(form) }}
        {{ form_row(form.searchString) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
	<div id="dialog"></div>
	<div id="results">
	<div class='spc'></div>
		<div class='totalRes'>{{collText}}</div>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	{% for result in pagination %} 
		<div id="content">
			<div id="inner">
			<ul>
				{% if result['recordid'] is not null %}
					<li><span class='itemTitle'><a class="fRecordLink" href="{{result.recordid}}">{{result.title}}</a></span></li>
					<li><span class='resultLabel'>Location:</span><span class='resultText'>In Library</span></li>
				{% endif %}
				{% if result['recordid'] is  null %}
					<li><span class='itemTitle'><a class="centralLink" href="{{result.outLink}}">{{result.title}}</a></span></li>
					<li><span class='resultLabel'>Location:</span><span class='resultText'>Online</span></li>
				{% endif %}
				
				
			<!--	<li class="itemTitle">{{result.title}}</li> -->
				
				<li><span class='resultLabel'>Type:</span><span class='resultText'> {{result.type}}</span></li>
				<li><span class='resultLabel'>Author: </span><span class='resultText'>{{result.creator}}</span></li>
				{% if result['publisher'] is not null %}
					<li><span class='resultLabel'>Pub: </span><span class='resultText'>{{result.publisher}}</span></li>
				{% endif %}
				{% if result['publisher'] is null %}
					<li><span class='resultLabel'>Collection: </span><span class='resultText'>{{result.ispartof}}</span></li>
				{% endif %}
				{% if result['creationDate'] is not null %}
					<li><span class='resultLabel'>Date:</span><span class='resultText'> {{result.creationDate}}</span></li>
				{% endif %}
				{% if result.version|length>0 %}
					<li><span class='resultLabel'>Version: </span><span class='resultText'>{{result.version}}</span></li>
				{% endif %}

			</ul>
			</div>
		</div>
	{% endfor %}
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
</div>
{% endblock %}
{% block javascripts %}
		 {{ parent() }}

	<script>
		$(document).ready(function(){
			$('.fRecordLink').click(function(e){
				e.preventDefault();
				var link = $(this).attr('href');
				var path = "{{path('strathPrimomBundle_basic_full')}}";
				var url = path+"/"+link;
				$.ajax({
					type: "GET",
					url: url,
					contentType: 'application/json',
					dataType: 'json',
					success: function(response){
						var parsedData = JSON.parse(response);
						var type =(parsedData.xml['type']);
						var title =(parsedData.xml['title']);
						var creator =(parsedData.xml['creator']);
						var publisher =(parsedData.xml['publisher']);
						var edition =(parsedData.xml['edition']);
						var format =(parsedData.xml['format']);
						var subject =(parsedData.subject);
						var creationdate =(parsedData.xml['creationdate']);
						$('#dialog').html("<span class='dialogLabel'>Type:  </span> <span class='dialogContent'>"+type+"</span><br/><span class='dialogLabel'>Title:  </span>  <span class='dialogContent'>"+title+"</span><br/><span class='dialogLabel'>Creator: </span> <span class='dialogContent'>"+creator+"</span><br/><span class='dialogLabel'>Publisher: </span> <span class='dialogContent'>"+publisher+"</span><br/><span class='dialogLabel'>Edition: </span> <span class='dialogContent'>"+edition+"</span><br/><span class='dialogLabel'>Format: </span> <span class='dialogContent'>"+format+"</span><br/><span class='dialogLabel'>Subjects: </span> <br/><span class='dialogContent'>"+subject+"</span><br/><span class='dialogLabel'>Creation Date:</span> <span class='dialogContent'>"+creationdate+"</span>").dialog({
								modal:true,
								title: title,
								width:300,
								 buttons: [{ 
									text: "Ok", 
									click: function() { 
									$( this ).dialog( "close" ); 
										}
									}]
								}
							);
						},
					error: function(e){
						alert("Error!");
						}
					})
				});
			});
		
			</script>
{% endblock %}

