<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('css/searchForm.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('css/jquery.mobile.min.css') }}" type="text/css" rel="stylesheet" />
			<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.css" />
		{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	{% block navigation %}
    <nav>
        <ul class="navigation">
				<li class="logo"><a href="{{ path('strathPrimomBundle_homepage') }}"><img src='{{ asset('images/logotab.gif')}}'></img></a></li>
				<li class="pgNav"><a href="{{ path('strathPrimomBundle_homepage') }}"><span id='nlink'>Home</span></a></li>
				<li class="pgNav"><a href="{{ path('strathPrimomBundle_login') }}"><span id='nlink'>Login</span></a></li>
				<li class='pgNav'><a href="{{ path('strathPrimomBundle_logout') }}"><span id='nlink'>Logout</span></a></li>
				<li class="pgNav"><a href="{{ path('strathPrimomBundle_account_main') }}"><span id='nlink'>My Account</span></a></li>
     
        </ul>
    </nav>
	{% endblock %}
    {% block body %}{% block strathTag %}<h3 class='UniTag'>University of Strathclyde Library</h3>{% endblock %}
{% endblock %}
  {% block footer %}
  	<div id='result'></div>

  <span class='fullSiteContainer'><span class='fullSiteLink'><a href='http://suprimo.lib.strath.ac.uk'>Switch to Full Site</a></span></span>
  {% endblock %}
    {% block javascripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.1/jquery.mobile.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

		

		<script>
		$(document).ready(function(){
		$.mobile.ajaxEnabled = false
			$('.pgNav').mouseenter(function(){
				$(this).css('background-color','#2b69ae');
				});
			$('.pgNav').mouseleave(function(){
				$(this).css('background-color','#002b5c');
				});
			$('.page>a , .next>a, .last>a, .previous>a, .first>a').mouseenter(function(){
				$(this).css('color','#4e7bae');
				});
			$('.page>a , .next>a, .last>a, .previous>a, .first>a').mouseleave(function(){
				$(this).css('color','#ffffff');
				});
				
			var bgId = parseInt(Math.random()*4, 11) + 1;
			if(bgId == 1){
				$('body').css('background-image','url(/primom/web/images/12-003-46.jpg)');
				}
			if(bgId == 2){
				$('body').css('background-image','url(/primom/web/images/12-059-84.jpg)');
				}
			if(bgId == 3){
				$('body').css('background-image','url(/primom/web/images/12-003-42.jpg)');
				}
			if(bgId == 4){
				$('body').css('background-image','url(/primom/web/images/12-003-43.jpg)');
				}

			});
		</script>
		
	{% endblock %}
	
    </body>
</html>


