{% extends "::base.html.twig" %}
{% block title %}SUPrimoM{% endblock %}
        {% block stylesheets %}
		{{ parent() }}
    <link href="{{ asset('css/search.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}
{% block navigation %}

<ul class="navigation">
            {{parent()}}          
        </ul>
		{% endblock%}
{% block body %}

	{% block strathTag %}<h3 class='accTitle'>Catalogue Search</h3>{% endblock %}

<form action="{{ path('strathPrimomBundle_basic') }}" method="get" {{ form_enctype(form) }} class="homeSearch">
        {{ form_errors(form) }}
        {{ form_row(form.searchString) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
	
{% endblock %}
{% block javascripts %}
		 {{ parent() }}
		 {% endblock %}
