{% extends "::base.html.twig" %}
{% block title %}SUPrimoM{% endblock %}
        {% block stylesheets %}
		{{ parent() }}
    <link href="{{ asset('css/searchForm.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block navigation %}

<ul class="navigation">
			{{ parent() }}		
        </ul>
		{% endblock%}
{% block body %}
	{% block strathTag %}<h3 class='accTitle'>Catalogue Search</h3>{% endblock %}

    <form action="{{ path('strathPrimomBundle_basic') }}" method="get" {{ form_enctype(form) }} class="homeSearch">
        {{ form_errors(form) }}
		<div class='searchLabel'>
		{{form_label(form.searchString)}}
		</div><div>
        {{ form_widget(form.searchString) }}
</div>
        {{ form_rest(form) }}
<div class="formSubmit">
        <input type="submit" value="Submit" />
		</div>
    </form>
{% endblock %}
