#content{
	width: 95%;
	padding: 10px;
	background: #efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	opacity: 0.9;
	max-width: 88%;
	}

#inner{
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom:10px;
	}

.itemLabel{
	font-weight:bold;
	}

.spc{
	height:40px;
	}
.flashMessage{
	font-weight:bold;
	float: left;
	padding: 4px;
	background-color: #FFFF00;
	background-repeat: repeat-x;
	box-shadow: 2px 1px 5px 1px black;
	font-size:1.4em;
	width:97%;
	margin-top:20px;
	text-align: center;
	}
li.itemTitle{
font-weight:bold;
margin-bottom:10px;
font-size: 120%;}
li.item{
	font-size: 1em;
	}
