.login-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.login { font-size: 16px;
background: #fff;
border: 1px solid #ccc;
padding: 10px;}
.bkg{
width: 95%;
padding:10px;
 background: #efefef;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
opacity: 0.9;
max-width: 250px;
margin:8%;
}
#lgnForm{font-size:110%;
font-weight:bold;
width:300px;}
#result{
min-height:100px;}
form.lgnForm {
font-size:130%;
font-weight:700;
color:#000000;}

form.lgnForm input[type="text"] { width:98%;margin-top:3%;margin-bottom:3%; height: 20px; line-height: 26px; font-size: 20px; }
form.lgnForm input[type="submit"] { line-height: 16px; min-height: 20px; 
margin-top:5%;}