body{
	width:100%;
	font-size:80%;
	margin:0;
	font-family: Calibri,Arial, Helvetica, sans-serif;
	max-width:350px;
	}
ul
{
    list-style-type: none;
	padding:0; 
	margin-left:0px;
	margin-top:3px;
}
ul.navigation{
	margin-bottom: 4em;

}
header{
margin-top:50px;}
a{
color: #ffffff;
font-weight: 700;
text-shadow: 0 1px 1px #4e7bae;}
.logo{
margin-bottom: 10px;}

.uname{
	font-weight:bold;
	float: left;
	padding-left: 4px;
	padding-right: 5px;
	background-color: #FFFF00;
	background-repeat: repeat-x;
	box-shadow: 2px 1px 5px 2px black;
	font-size:1.5em;
}
li.pgNav, .accNav{
	background-color:#002b5c;
	padding:5px;
	margin-top:5px;	
	margin-left:0px;
	width:155px;
	font-size: 1.5em;
	}
div.accNav{
	background-color:#a7a9ac}
li>a{
	text-shadow:none;
	}
h1, h3{
	color:white;
}
input:focus{
    box-shadow: 0 0 10px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 10px rgba(0, 0, 255, 1); 
}

.accTitle{
	color: white;
	background: #a7a9ac;
	padding: 5px;
	padding-left: 10px;
	margin: 0px 0px 2px 0px;
	font-size:2em;
/*	border-top:1px solid #333;
	border-bottom:1px solid #333; **/

	}
#nlink,.fullSiteContainer{
display: block;
}
.fullSiteContainer{
	border-left-width:0;
	border-right-width:0;
	width:100%;
	max-width:350px;
	right:0;
	left:0;
	background-image:linear-gradient(#858487,#7e7f81);
	bottom: -1px;
	padding-bottom:1px;
	z-index:1;
	border:1px solid #333;
	text-align:center;
	font-size:130%;
	margin-top:2em;
	position: static;
}
div.ui-loader{
display:none;}/* 
.fullSiteLink{
	-webkit-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3);
	box-shadow: 0 1px 0 rgba(255,255,255,.3);
	z-index:10;
	border-radius:1em;
	text-overflow:ellipsis;
	padding:.55em 11px .5em;
	border-top:1px solid #fff;
	border-color: (255,255,255,.3);
	text-shadow:0 1px 0 #111;

	
} */