#results{
	max-width: 300px;
	}
#content{
	width: 100%;
	padding: 10px;
	background: #efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	opacity: 0.9;
	}
#inner{
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	}
li.itemTitle{
	font-weight:bold;
	margin-bottom:10px;
	font-size: 150%;
	}
.page{
	color:white;
	font-weight:bold;
}
.page,.next,.last,.current,.previous,.first{
	color:white;
	margin:5px;
	}
.totalRes{
	background-color: #a7a9ac;
	width: 145px;
	font-size: 1.3em;
	font-weight: 700;
	padding: 5px;
	color: white;
	}

.spc{
	height: 30px;
	}
.ui-widget-overlay {
	background: #aaaaaa 50% 50% repeat-x !important;
	}
.resultLabel,.dialogLabel{
font-weight:bold;}
/* .resultLabel,.resultText{
font-size:150%;
} */
ul{
margin-top:3px;
margin-bottom:3px;}

