.homeSearch-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form{
max-width:350px;}
form.homeSearch { font-size: 130%;  }
form.homeSearch div { clear: left; margin-bottom: 10px; }
form.homeSearch label {font-family:calibri; font-weight: bold; vertical-align: top; padding: 2px;
background-color: #002b5c;
color: white; }
form.homeSearch input[type="text"],form.homeSearch input[type="email"]{
	width: 100%; line-height: 26px; font-size: 20px; min-height: 26px; margin-top:10px; 
	}
form.homeSearch textarea { width:100%; height: 150px; line-height: 26px; font-size: 20px; }
form.homeSearch input[type="submit"] {width: 100%; line-height: 26px; font-size: 20px; min-height: 26px; }
form.homeSearch ul li { color: #ff0000; margin-bottom: 5px; }

.required{text-shadow:none;}
.pagination{
	background-color: #002b5c;
	color: white;
	font-weight: bold;
	padding: 5px;
	width: 260px;
	font-size: 130%;
	text-shadow: none;
	padding-left:10px;
	padding-bottom:10px;
	}

.fRecordLink,.centralLink{
color:#38c;
text-shadow:none;

}
