{% extends "::base.html.twig" %}

{% block title %}strathPrimomBundle:Logout:logout{% endblock %}
{% block navigation %}

<ul class="navigation">
            <li><a href="{{ path('strathPrimomBundle_homepage') }}"><img src='{{ asset('images/logotab.gif')}}'></img></a></li>
			<li><a href="{{ path('strathPrimomBundle_homepage') }}">Home</a></li>
            <li><a href="{{ path('strathPrimomBundle_login') }}">Login</a></li>
            <li><a href="{{ path('strathPrimomBundle_account_main') }}">My Account</a></li>
        </ul>
		{% endblock%}
{% block body %}
<h1>Welcome to the Logout:logout page</h1>
{% endblock %}
