{% extends "::base.html.twig" %}
{% block stylesheets %}
		{{ parent() }}
    <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}Login{% endblock%}
{% block navigation %}

<ul class="navigation">
			{{ parent() }}
        </ul>
		{% endblock%}
{% block body %}
    <header>
        <h1 class="accTitle">Login</h1>
    </header>
<div class='bkg'>
   <form action="{{path('strathPrimomBundle_login_submit')}}" method="POST" {{ form_enctype(form) }} class='lgnForm'>
   
        {{ form_errors(form) }}

      <span class='lFormField'>{{ form_row(form.barcode) }}</span>
      <span class='lFormField'>{{ form_row(form.familyName) }}</span>
        {{ form_rest(form) }}
{{ form_widget(form._token) }}
      <span class='lFormField'><input type="submit" id="login" value="Submit" /></span>
    </form>
	</div>
	
{% endblock %}
{% block javascripts %}
			{{ parent() }}


{% endblock %}