{% extends "::base.html.twig" %}
{% block stylesheets %}
		{{ parent() }}
    <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}Login{% endblock%}
{% block navigation %}

<ul class="navigation">
			{{ parent() }}
        </ul>
		{% endblock%}
{% block body %}
<div class='uname'>{{name}}</div>
{% endblock %}
